h1 { 
    font-style: oblique;
    text-align: center; 
    margin-top: 50%;
}

body { 
    background-color: pink;
    animation-name: page;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes page {
    50% {
      background: hotpink;
    }
  }

  img { 
    width: 40%;
    height: auto;  
  }

  .load {
    position: absolute;
    margin-left: 30%; 
    margin-top: -40%; 
  }