.link { 
    color: blue; 
}

.link:hover {
    animation-name: click;
    animation-fill-mode: forwards;
}

@keyframes click {
    100% { 
        color: pink; 
    }
}
.box { 
    background: orangered;
    height: 100px; 
    width: 100px;
}