body { 
  background-color: pink;
  animation-name: page;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 350px;  
}

@keyframes page {
  50% {
    background: hotpink;
  }
}


h1 { 
    font-style: oblique;
    font-family: monospace;
    display: flex; 
  }

  .circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: yellow;
    animation-name: wait;
    animation-duration: 4s;
    animation-iteration-count: infinite;  
  }
  
  @keyframes wait {
    50% { 
      background-color: white;
    }
  }