div {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30%;
    font-size: xx-large;
}

p {
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}

body { 
    background-color: lightblue;
}

.link {
    display: flex; 
    align-items: center;
    color: blue; 
}

.link:hover {
    animation-name: click;
    animation-fill-mode: forwards;
}

@keyframes click {
    100% { 
        color: pink; 
    }
}