h1 { 
    color: blue; 
    font-size: 40px;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    h1 {
        color: red; 
        font-size: 20px;
    }
}