h1 {
    color: red;
    align-items: center;
}

.fullpage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    background-color: #fed8b1; 
    display: flex;
    justify-content: center;
    align-content: flex-end;
    padding: 70px;
    margin: auto;
    max-width: 40em;
    border: 20px solid #FF8C00;
    border-radius: 60px;
}

.column {
    width: 600px;
    margin: 10px 10px;
    padding: 8px;
    justify-content: center;
}

.app {
    width: 80px;
    height: 80px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    margin: 100px 10px;
    padding: 10px;
}

img {
    width: 80px;
}

.cat {
    width: 70px;
}

.pumpkin { 
    width: 90px; 
}


.link {
    display: flex; 
    align-items: center;
    color: blue; 
}

.link:hover {
    animation-name: click;
    animation-fill-mode: forwards;
}

@keyframes click {
    100% { 
        color: pink; 
    }
}